[data-theme="light"] {
  --color-primary: theme("colors.orange.500");
  --color-secondary: theme("colors.amber.600");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: theme("colors.stone.50");
  --color-background-offset: theme("colors.stone.100");
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.orange.400");
  --color-secondary: theme("colors.amber.400");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.950");
  --color-background-offset: theme("colors.gray.900");
  --color-border: theme("colors.gray.50" / 10%);
}
